<h1><i>Entry</i> Data</h1>

<hr>

In [1]:
import pandas as pd
df = pd.read_csv("../../data/raw/AAPL.csv")
df.head()

         Date      Open      High       Low     Close  Adj Close       Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.407747  117258400.0
1  1980-12-15  0.488839  0.488839  0.486607  0.486607   0.386473   43971200.0
2  1980-12-16  0.453125  0.453125  0.450893  0.450893   0.358108   26432000.0
3  1980-12-17  0.462054  0.464286  0.462054  0.462054   0.366972   21610400.0
4  1980-12-18  0.475446  0.477679  0.475446  0.475446   0.377609   18362400.0

In [ ]:
<a> href="https://www.kaggle.com/prasoonkottarathil/apple-lifetime-stocks-dataset" >Link to Data</a>